<%= render 'shared/banner' %>

<div class="container">
  
</div>

<div class="container pb-3 d-flex align-content-around flex-wrap justify-content-center">
<% @services.each do |service| %>
  <%= render 'shared/card-service', service: service %>
<% end %>
</div>

