
<div class="service_banner_no_picture">
  <div class="container">
    <h1>NEW AWESOME SERVICE</h1>
  </div>
</div>
<br>
<div class="container">
  <%= render 'shared/service_form', service: @service %>
</div>
