// Define variables for your color scheme

// OLD:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

///NEW
$red: #B9314F;
$blue: #6D72C3;
$yellow: #F4D06F;
$orange: #E4572E;
$green: #3A4F41;
$gray: #3A3E3B;
$light-gray: #FBF5F3;
