<div class="banner">
  <div class="container">
    <h1>PS - We bring Professional Services to  the people of the world!</h1>
    <p>Let us help you to solve your problems in an <strong>super efficient way...</strong> <br>Are you a professional and <strong>want to earn som extra money?</strong></p>
    <%= link_to "Sign up and add your service", new_user_session_path, class:"btn btn-secondary"%>
  </div>
</div>
