<div class="card-service">
  <img src=<%= service.photo %> >
  <div class="card-service-infos">
    <div>
      <h2><%= service.name %></h2>
      <p><%= service.content %></p>
    </div>
    <h2 class="card-service-pricing"><%= service.price %></h2>
  </div>
</div>
