<div class="service_banner_no_picture">
    <h1>Your booked services</h1>
</div>


<div class="container">
  <% @contracts.each do |contract| %>
  <%= render 'shared/card-contract', contract: contract %>
    <% end %>
  </div>
</div>
