<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="banner">
    <p>This is the banner contrainer</p>
  </div>
  <div class="show-page">
    <p>This is the show page with the search bar and (top) cards</p>
  </div>
  <div class="footer">
    <p>This is the footer</p>
  </div>


</div>
