<div class="container pb-5">
  <h1>This is the display of all components!</h1>
</div>

<%= render 'shared/banner' %>


<%= render 'shared/service_form' %>

<div class="container">
  <h2>Buttons</h2> (Color: Can be changed in colors, named: $button-color)

  <br><br>
  <a class="btn-ps" href="#">Normal Button</a> | |
  <span>class="btn-ps"</span>
  <br><br>

  <a class="btn-ps btn-ps-banner" href="#">Transparent Button</a> | |
  <span>class="btn-ps-banner"</span>

  <br><br>
  <a class="btn-ps btn-ps-sm" href="#">Small Button</a> | |
  <span>class="btn-ps-sm"</span><br>
  <br><br>

</div>
