<% if @services.last.photo? %>
  <div class="service_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @services.last.photo %>)">
    <div class="container">
      <h1>Your awesome services</h1>
    </div>
  </div>
<% else %>
  <div class="service_banner_no_picture">
    <h1>Your awesome services</h1>
  </div>
<% end %>
<div class="container" style="min-height: 700px;">
  <br>
  <div class="d-flex">
    <% @services.each do |service| %>
      <%= render 'shared/card-service', service: service, delete: true %>
    <% end %>
  </div>
</div>
