.service_banner {
  height: 400px;
  background-size: cover;
  background-position: top;
  h1 {
    color: $yellow;
    padding-top: 250px;
    margin-left: 50px;
    font-size: 60px;
  }
}

.service-details {
  font-size: 22px;
  margin: 50px;
  padding: 15px;
  background-color: white;
  width: 40%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.service_banner_no_picture {
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner_pulp.jpeg');
  height: 400px;
  h1 {
    color: $yellow;
    padding-top: 250px;
    margin-left: 50px;
    font-size: 60px;
  }
}

