<div class="service_banner_no_picture">
    <h1>Your booked services</h1>
</div>


<div class="container mt-5">
  <h2>New Bookings:</h2>
  <% @contracts.each do |contract| %>
    <% unless contract.confirmed %>
      <%= render 'shared/card-contract', contract: contract %>
    <% end %>
  <% end %>
  </div>

  <div class="container mt-5 mb-5">
  <h2>Confirmed Bookings:</h2>
  <% @contracts.each do |contract| %>
    <% if contract.confirmed == true %>
      <%= render 'shared/card-contract', contract: contract %>
    <% end %>
  <% end %>
  </div>

